---
# Name of the section displayed in the editor UI
# (only if keep_name is set to true)
name: Call to action

# By default, the first text type setting will be used as
# the name of the section in the editor UI.
# To keep the name of the section instead, uncomment the following line.
# keep_name: true

# Icon of the section in the editor UI
# Values: header, default, slide, text, image_text, list, footer
icon: image_text

# By default, the first image_picker type setting will be used
# as the icon of the section in the editor UI.
# To keep the icon of the section instead, uncomment the following line.
# keep_icon: true

# Definition of the settings:
# A setting type can be one of the following values: text, image_picker, checkbox, radio, select, url, hint, content_type.
# Please visit: https://doc.locomotivecms.com/docs/json-definition for more explanation.
settings:
- label: "First Number"
  id: first_number
  type: text
  # html: true
  # line_break: true
  
- label: "First Number - Caption"
  id: first_caption
  type: text
  # html: true
  # line_break: true

- label: "Second Number"
  id: second_number
  type: text
  # html: true
  # line_break: true
  
- label: "Second Number - Caption"
  id: second_caption
  type: text
  # html: true
  # line_break: true

- label: "Third Number"
  id: third_number
  type: text
  # html: true
  # line_break: true
  
- label: "Third Number - Caption"
  id: third_caption
  type: text
  # html: true
  # line_break: true

# Definition of the blocks.
# You can define as many types of blocks as you want.
blocks: []

# By default, in the editor UI, blocks will be listed below the "Content" title.
# The title can be changed with the following property:
# blocks_label: "My list of items"

# Presets can be seen as different versions of a same section.
# Useless if the section is not aimed to be used along with section_dropzone liquid tag
presets:
  - name: "Big numbers"
    category: "Article"
    settings:
      first_number: "99%"
      first_caption: "Expedita magnam ut repudiandae."
      second_number: "99%"
      second_caption: "Expedita magnam ut repudiandae."
      third_number: "99%"
      third_caption: "Expedita magnam ut repudiandae."
    blocks: []


---
{% comment %}
Above is the YAML definition of your section. Modify it to match your needs.

To use your section, 2 possibilities:

1. within a dropzone

Make sure that your layouts or your page includes the following liquid tag:

  {% sections_dropzone %}

If you want to test this section in your Wagon site, add the following
lines in the YAML section of any page including the {% sections_dropzone %}
(or inheriting from a layout including it):

sections_dropzone_content:
- type: "call_to_action"
  settings:
    first_number: "99%"
    first_caption: "Delectus sit et ullam."
    second_number: "99%"
    second_caption: "Delectus sit et ullam."
    third_number: "99%"
    third_caption: "Delectus sit et ullam."
  blocks: []


2. as stand-alone section

  {% section 'call_to_action' %}

If you want to test this section in your Wagon site, add the following
lines in the YAML section of the page including the statement above or complete it.

sections_content:
  call_to_action:
    settings:
      first_number: "99%"
      first_caption: "Omnis ea voluptatum possimus."
      second_number: "99%"
      second_caption: "Omnis ea voluptatum possimus."
      third_number: "99%"
      third_caption: "Omnis ea voluptatum possimus."
    blocks: []

{% endcomment %}
<section id="{{ section.anchor_id }}" class="section big-numbers-section" {{ section.locomotive_attributes }}>
  <dl class="is-flex is-justify-content-center">
    <div class="has-text-centered m-5">
      <dd class="first-number title">{{ section.settings.first_number }}</dd>
      <dt class="first-caption">{{ section.settings.first_caption }}</dt>
    </div>
    <div class="has-text-centered m-5">
      <dd class="second-number title">{{ section.settings.second_number }}</dd>
      <dt class="second-caption">{{ section.settings.second_caption }}</dt>
    </div>
    <div class="has-text-centered m-5">
      <dd class="third-number title">{{ section.settings.third_number }}</dd>
      <dt class="third-caption">{{ section.settings.third_caption }}</dt>
    </div>
  </dl>
</section>
