---
# Name of the section displayed in the editor UI
# (only if keep_name is set to true)
name: Call to action

# By default, the first text type setting will be used as
# the name of the section in the editor UI.
# To keep the name of the section instead, uncomment the following line.
# keep_name: true

# Icon of the section in the editor UI
# Values: header, default, slide, text, image_text, list, footer
icon: image_text

# By default, the first image_picker type setting will be used
# as the icon of the section in the editor UI.
# To keep the icon of the section instead, uncomment the following line.
# keep_icon: true

# Definition of the settings:
# A setting type can be one of the following values: text, image_picker, checkbox, radio, select, url, hint, content_type.
# Please visit: https://doc.locomotivecms.com/docs/json-definition for more explanation.
settings:
- label: "Title"
  id: title
  type: text
  # html: true
  # line_break: true
  
- label: "Subtitle"
  id: subtitle
  type: text
  # html: true
  # line_break: true
  
- label: "Button Link"
  id: button_link
  type: url

- label: "Button Text"
  id: button_text
  type: text
  
- label: "Background Image"
  id: background_image
  type: image_picker
  
# Definition of the blocks.
# You can define as many types of blocks as you want.
blocks: []

# By default, in the editor UI, blocks will be listed below the "Content" title.
# The title can be changed with the following property:
# blocks_label: "My list of items"

# Presets can be seen as different versions of a same section.
# Useless if the section is not aimed to be used along with section_dropzone liquid tag
presets:
  - name: "Call to action"
    category: Action
    settings:
      title: "Praesentium quas sit dolorum."
      subtitle: "Expedita magnam ut repudiandae."
      button_link: "/link"
      button_text: Do it! 
      background_image: "/samples/images/default.svg"
    blocks: []


---
{% comment %}
Above is the YAML definition of your section. Modify it to match your needs.

To use your section, 2 possibilities:

1. within a dropzone

Make sure that your layouts or your page includes the following liquid tag:

  {% sections_dropzone %}

If you want to test this section in your Wagon site, add the following
lines in the YAML section of any page including the {% sections_dropzone %}
(or inheriting from a layout including it):

sections_dropzone_content:
- type: "call_to_action"
  settings:
    title: "Perferendis voluptatem tenetur occaecati."
    subtitle: "Delectus sit et ullam."
    button_link: "/link"
    button_text: Do it! 
    background_image: "/samples/images/default.svg"
  blocks: []


2. as stand-alone section

  {% section 'call_to_action' %}

If you want to test this section in your Wagon site, add the following
lines in the YAML section of the page including the statement above or complete it.

sections_content:
  call_to_action:
    settings:
      title: "I am calling you to action"
      subtitle: "Be a good samaritan and click on this beautiful button. You will feel nice about it."
      button_link: "/link"
      button_text: Do it! 
      background_image: "/samples/images/default.svg"
    blocks: []

{% endcomment %}
<section id="{{ section.anchor_id }}" class="section call-to-action-section" {{ section.locomotive_attributes }}>
  <div class="container">
    <h3 class="title is-2">{{ section.settings.title }}</h3>
    <p class="subtitle">{{ section.settings.subtitle }}</p>

    <a href="{{ section.settings.button_link }}" class="button is-primary">
      {{ section.settings.button_text }}
    </a>
  </div>
</section>
